.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background-color: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 0.4rem;
    border: 2px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    background-color: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}

/*
.tags{
    border: 2px solid red;
}
*/

.chips-tag {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 1px 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.chips-tag:hover {
    background-color: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.bullet_points{
    margin: 1rem;
}


.position{
    margin: 0.5rem;
    margin-top: 0;
}
.date{
    margin-right: 1.5rem;
}

.sub_title{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.75rem;
    transition: var(--transition);
}

.portfolio__item:hover .sub_title{
    color: var(--color-primary-variant);
}

#experience__item__title{
    margin-bottom: 0.5rem;
}

li{
    margin-bottom: 5px;
    line-height: 24px;
}

/*------ RESPONSIVE FOR SMALL DEVICES -----*/

@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }
    .date{
        margin-right: 0rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}

